Life Expectancy Flow.json
[{"id":"9a29bf74.c5ee5","type":"tab","label":"Predicting Life Expectancy","disabled":false,"info":""},{"id":"ed0b97a1.f42988","type":"function","z":"9a29bf74.c5ee5","name":"PreToken","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"Status\",msg.payload.Status)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hep\",msg.payload.hep)\nglobal.set(\"mea\",msg.payload.mea)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"dip\",msg.payload.dip)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"popu\",msg.payload.popu)\nglobal.set(\"oneto19\",msg.payload.oneto19)\nglobal.set(\"fiveto9\",msg.payload.fiveto9)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"school\",msg.payload.school)\nvar apikey=\"zxLRBOtTEA-Qq6DOGNe2NgEN-LHzvKIoHBck64f09xME\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":340,"wires":[["8ca465ed.cc74d8"]]},{"id":"8ca465ed.cc74d8","type":"http request","z":"9a29bf74.c5ee5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":340,"wires":[["fbc21f8b.c4c31","6d2ef1ae.d8b2c"]]},{"id":"744ab62c.569e68","type":"inject","z":"9a29bf74.c5ee5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":300,"wires":[["ed0b97a1.f42988"]]},{"id":"6d2ef1ae.d8b2c","type":"function","z":"9a29bf74.c5ee5","name":"Pre Prediction","func":"var country = global.get('country')\nvar year = global.get('year')\nvar Status = global.get('Status')\nvar am = global.get('am')\nvar id = global.get('id')\nvar alc = global.get('alc')\nvar pe = global.get('pe')\nvar hep = global.get('hep')\nvar mea = global.get('mea')\nvar bmi = global.get('bmi')\nvar ufd = global.get('ufd')\nvar p = global.get('p')\nvar te = global.get('te')\nvar dip = global.get('dip')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar popu = global.get('popu')\nvar oneto19 = global.get('oneto19')\nvar fiveto9 = global.get('fiveto9')\nvar income = global.get('income')\nvar school = global.get('school')\nvar token=msg.payload.access_token\nvar instance_id=\"24f14d4e-2581-425b-adb9-b38fe54d94e1\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[country,year,Status,am,id,alc,pe,hep,mea,bmi,ufd,p,te,dip,hiv,gdp,popu,oneto19,fiveto9,income,school]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["8ea9ba5b.f536a8"]]},{"id":"8ea9ba5b.f536a8","type":"http request","z":"9a29bf74.c5ee5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/38d1e502-7569-4c6f-99b3-8440efea357b/predictions","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":320,"wires":[["c47b5b07.6f61a8","3090f273.e1779e"]]},{"id":"87b048c8.e73568","type":"ui_text","z":"9a29bf74.c5ee5","group":"d56572dc.fc0d7","order":1,"width":0,"height":0,"name":"","label":"Predicted Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":160,"wires":[]},{"id":"3090f273.e1779e","type":"function","z":"9a29bf74.c5ee5","name":"Prediction","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["87b048c8.e73568","86f2660.1e5e298","8072e384.398ee"]]},{"id":"c47b5b07.6f61a8","type":"debug","z":"9a29bf74.c5ee5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":320,"wires":[]},{"id":"fbc21f8b.c4c31","type":"debug","z":"9a29bf74.c5ee5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":400,"wires":[]},{"id":"970343d1.d26b1","type":"ui_form","z":"9a29bf74.c5ee5","name":"","label":"","group":"d56572dc.fc0d7","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Adult Mortality ","value":"am","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hep","type":"number","required":true,"rows":null},{"label":"Measles","value":"mea","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-fIve deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"p","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"popu","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"oneto19","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"fiveto9","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"income","type":"number","required":true,"rows":null},{"label":"Schooling","value":"school","type":"number","required":true,"rows":null},{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Status","value":"Status","type":"text","required":true,"rows":null}],"formValue":{"year":"","am":"","id":"","alc":"","pe":"","hep":"","mea":"","bmi":"","ufd":"","p":"","te":"","dip":"","hiv":"","gdp":"","popu":"","oneto19":"","fiveto9":"","income":"","school":"","country":"","Status":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":400,"wires":[["ed0b97a1.f42988"]]},{"id":"86f2660.1e5e298","type":"ui_audio","z":"9a29bf74.c5ee5","name":"","group":"d56572dc.fc0d7","voice":"de-DE","always":false,"x":920,"y":220,"wires":[]},{"id":"8072e384.398ee","type":"debug","z":"9a29bf74.c5ee5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":40,"wires":[]},{"id":"d56572dc.fc0d7","type":"ui_group","z":"","name":"Default","tab":"33a72ebf.d62fd2","order":1,"disp":true,"width":"6","collapse":false},{"id":"33a72ebf.d62fd2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]